<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">See your profile</a>
    <a class="dropdown-item" href="#">Upload a picture</a>
    <a class="dropdown-item" href="{{ path('app_goldenbook') }}">Golden book</a>
  </div>
</div>