{% extends "base.html.twig" %}
{% block title %}You are logged in{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Bienvenue sur Show My Picture</h1>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

