@import "~bootstrap/scss/bootstrap";

$titleh1: white;

body {
    background-image: url('/build/images/superheros.png');
    //background-image: url('~@images/sprite.svg')
}

h1 {
    color: $titleh1;
}

.mb-3 {
    color: $titleh1;
}

text {
    color: $titleh1;
}
